@import "./component_Style/paleta.scss";
@import "./component_Style/respons.scss";
@import "./component_Style/tema.scss";

body {
    @include flex;

    width: 100vw;
    height: 100vh;
    background-color: #e2a9a9;

    #app {
        padding: 20px;
        margin: 25px;
        background-color: $grey200;
        box-shadow: -10px 10px 10px $black100;
        border: solid 1px $black100;
        border-radius: 10px;

        @include breakpoint(sm) {
            @include flex-Column(space-between);

            width: 300px;
            max-height: 525px;
        }

        @include breakpoint(lg) {
            @include flex-Column(space-between, row);

            width: 525px;
            height: 300px;
        }

        div.divBackgroundImg {
            @include flex-Column;

            img#backgroundImg {
                width: 250px;
                border-radius: 7px;
                box-shadow: -3px 3px 9px $shadowLow;
            }
        }

        div.player {
            text-align: center;
            margin-top: 10px;

            div.titleMusic {
                font-family: 'Roboto', sans-serif;
                margin: 10px 0;

                h1#title {
                    font-size: 1.8rem;
                    color: $black500;
                }

                p {
                    margin: 5px 0;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $grey500;
                }
            }

            span {
                margin: 0 10px;

                img {
                    width: 50px;
                    height: 50px;
                    
                }
                
            }
        }
    }
}