// tema in flex
@mixin flex($centralizationJC: center) {
  display: flex;
  justify-content: $centralizationJC;
  align-items: center;
}

// tema flex in coluna
@mixin flex-Column($centralizationJC: center, $direction: column) {
  @include flex($centralizationJC);
  flex-direction: $direction;
}